@charset "utf-8";   
@media (min-width:100px) {
    body {
        margin: 0px;
        padding: 0px;
        position: absolute;
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
    }
    header {
        height: 60px;
        display: flex;
        justify-content: space-between;
        background-color: #E0E0E0;
        font-family: 'Lato';
    }
    header > img {
        height: 27.6px;
        margin-top: 15px;
        margin-left: 22px;
    }
    .menu {
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;
        left: 105%;
    }   
    span {
        width: 25px;
        background-color: black;
        height: 2px;
        margin-top: 5px;
    }
    nav {
        background-color: black;
        position: fixed;
        right: 30%;
        width: 30%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        visibility: hidden;
    }
    .abrir {
        background-color: black;
        position: absolute;
        left: 60%;
        width: 40%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        visibility: initial;
    }
    .li {
        display: block;
        list-style: none;
        color: white;
        cursor: pointer;
    }
    .li > p {
        color: white;
        width: 30px;
        height: 30px;
        margin: 0px;
        margin: 10px 10px;
        font-size: 30px;
        text-align: center;
        font-family: 'Lato';
    }
    .li_hist {
        list-style: none;
        display: block;
    }
    .li_limpar {
        list-style: none;
        display: block;
    }
    .li_limpar > a {
        padding: 10px 10px;
        display: block;
    }
    .li_hist > a {
        padding: 10px 10px;
        display: block;
    }
    a {
        text-decoration: none;
        color: white;
        display: block;
    }
    a:hover {
        background-color: #C4C4C4;
        color: black;
    }
    .main_1 {
        margin-bottom: 50px;
    height: 495px;
    }
    .form {
        width: 100%;
        display: flex;
        height: 280px;
        flex-direction: column;
    }
    .div_do_form {
        display: flex;
        flex-direction: column;
        margin: 20px;
        font-size: 14px;
    }
    .div_nt {
        display: none;
    }
    .div_select {
        display: flex;
        flex-direction: column;
    }
    .div_select > p {
        margin-bottom: 9px;
        font-size: 14px;
    }
    #input_select {
        margin-bottom: 20px;
        border-radius: 4px, solid #E0E0E0;
        border: 1px solid #E0E0E0;
        height: 32px;
        margin-top: 1px;
        padding: 5px 12px;
        font-size: 14px;
    }
    .div_mercadoria {
        display: flex;
        flex-direction: column;
    }
    .div_mercadoria > label {
        margin-bottom: 9px;
        font-size: 14px;
    }
    .div_mercadoria > input {
        margin-bottom: 20px;
        border-radius: 4px, solid #E0E0E0;
        border: 1px solid #E0E0E0;
        height: 32px;
        padding: 5px 12px;
        box-sizing: border-box;
        font-size: 14px;
    }
    .div_valor {
        display: flex;
        flex-direction: column;
    }
    .div_valor > label {
        margin-bottom: 9px;
        font-size: 14px;
    }
    .div_valor > input {
        margin-bottom: 20px;
        border-radius: 4px, solid #E0E0E0;
        border: 1px solid #E0E0E0;
        height: 32px;
        padding: 5px 12px;
        box-sizing: border-box;
        margin-top: 1px;
        font-size: 14px;
    }
    .div_button {
        display: flex;
        justify-content: center;
    }
    .div_button > input {
        width: 90%;
        height: 32px;
        border-radius: 4px;
        background-color: black;
        color: white;
        cursor: pointer;
        position: absolute;
    }    
    .tabela {
        height: 50%;
        margin: 10px;
        padding-top: 20px;
    }
    h4 {     
        text-align: center;
        height: 20px;
        margin-top: 10px;
    }
    table {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 25px;
    }
    tbody {
        width: 97%;
        display: flex;
        flex-direction: column;
    }
    .tr_a {
        width: 89%;
        display: flex;
        justify-content: space-between;
        padding: 0px 29px;
        height: 30px;
        align-items: center;
    }
    .tr_b {
        width: 93%;
        display: flex;
        justify-content: space-between;
        height: 30px;
        align-items: center;
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        margin-left: 10px;
    }
    .td_+ { 
        width: 30px;
        display: flex;
        justify-content: center;
    }
    .td_mercadoria {
        width: 70%;
        position: absolute;
        margin-left: 21px;
    }
    .tr_d {
        width: 95%;
        display: flex;
        justify-content: end;
        margin-top: 2px;
        border: none;
        font-size: 10px;
    }
    .total{
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
        border-top: 1px solid #E0E0E0;
    }
    .total-td {
        margin-left: 33px;
    }
    .td-total {
        position: relative;
        left: 50%;
    }
    .span {
        width: 96px;
        height: 20px;
        display: flex;        
        justify-content: end;
        top: 20px;
        margin-top: 20px;
        background-color: white;
        font-size: 8px;
    }
}