@charset "utf-8";
@media (min-width:100px) {
    body {
        margin: 0px;
        padding: 0px;
        position: absolute;
        width: 100vw;
        height: 100vh;
        font-family:'lato';
        font-weight: normal
    }
    header {
        height: 60px;
        display: flex;
        justify-content: space-between;
        background-color: #E0E0E0;
    }
    header > img {
        height: 27.6px;
        margin-top: 15px;
        margin-left: 22px;
    }
    .menu {
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;
    }
    span {
        width: 25px;
        background-color: black;
        height: 2px;
        margin-top: 5px;
    }
    nav {
        position: fixed;
        width: 40%;
        height: 100%;
        right: -60%;   
    }
    ul {
        background-color: black;
        margin: 0px;
        width: 100%;
        height: 0%;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .mostranav {
        width: 60%;
        height: 100%; 
        opacity: 1 inportant;
        margin: 0px;  
        position: fixed; 
        background: black;
        transition: 0.7s ease-out; 
        z-index: 3;
        padding: 0px;
        transform: translateX(0);
        flex-direction: column;
        justify-content: flex-start;
        display: block;
        left: 60%;
    }
    .escondeMenu {
        left: 100%;
        transition: 0.7s ease-out; 
    }
    .li {
        display: block;
        list-style: none;
        color: white;
        cursor: pointer;
    }
    .li > p {
        color: white;
        width: 30px;
        height: 30px;
        margin: 0px;
        margin: 10px 10px;
        font-size: 30px;
        text-align: center;
    }
    .li_hist {
        list-style: none;
        display: block;
    }
    .li_limpar {
        list-style: none;
        display: block;
    }
    .li_limpar > a {
        padding: 10px 20px;
        display: block;
    }
    .li_hist > a {
        padding: 10px 20px;
        display: block;
    }
    a {
        text-decoration: none;
        color: white;
        display: block;
    }
    a:hover {
        background-color: #C4C4C4;
        color: black;
    }
    .main_1 {
        margin-bottom: 50px;
            height: 495px;
    }
    #form {
        width: 100%;
        display: flex;
        height: 280px;
        flex-direction: column;
    }
    .div_do_form {
        display: flex;
        flex-direction: column;
        margin: 20px;
        font-size: 14px;
    }
    .div_nt {
        display: none;
    }
    .div_select {
        display: flex;
        flex-direction: column;
    }
    .div_select > p {
        margin-bottom: 9px;
        font-size: 14px;
    }
    #input_select {
        margin-bottom: 20px;
        border-radius: 4px, solid #E0E0E0;
        border: 1px solid #E0E0E0;
        height: 32px;
        margin-top: 1px;
        padding: 5px 12px;
        font-size: 14px;
    }
    .div_mercadoria {
        display: flex;
        flex-direction: column;
    }
    .div_mercadoria > label {
        margin-bottom: 9px;
        font-size: 14px;
    }
    .div_mercadoria > input {
        margin-bottom: 20px;
        border-radius: 4px, solid #E0E0E0;
        border: 1px solid #E0E0E0;
        height: 32px;
        padding: 5px 12px;
        box-sizing: border-box;
        font-size: 14px;
    }
    .div_valor {
        display: flex;
        flex-direction: column;
    }
    .div_valor > label {
        margin-bottom: 9px;
        font-size: 14px;
    }
    .div_valor > input {
        margin-bottom: 20px;
        border-radius: 4px, solid #E0E0E0;
        border: 1px solid #E0E0E0;
        height: 32px;
        padding: 5px 12px;
        box-sizing: border-box;
        margin-top: 1px;
        font-size: 14px;
    }
    .div_button {
        display: flex;
        justify-content: center;
    }
    .div_button > input {
        width: 90%;
        height: 32px;
        border-radius: 4px;
        background-color: black;
        color: white;
        cursor: pointer;
        position: absolute;
    }
    
    table {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 25px;
    }
    tbody {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }
    .tr_a {
        display: flex;
        justify-content: space-between;
        padding: 0px 29px;
        height: 30px;
        align-items: center;
        border-bottom: 1px solid #E0E0E0;
    }
    .tr_b {
        width: 98%;
        display: flex;
        justify-content: space-between;
        height: 30px;
        align-items: center;
        border-bottom: 1px solid #E0E0E0;
    }
    .td_+ {
        width: 20px;
        display: flex;
        justify-content: center;   
    }
    .td_mercadoria {
        width: 70%;
        position: absolute;
        margin-left: 30px;
    }
    .tr_d {
        width: 98%;
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
        border-top: 1px solid #E0E0E0;
    }
    .td_total{
        margin-left: 29px;
    }
    .lucro_preju {
        width: 98%;    
        display: flex;
        justify-content: end;
        font-size: 10px;
    }
    footer {
        width: 100%;
        height: 25px;
        background-color: black;
    }
}   