* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
@media only screen and (max-width: 380px) {
  .div-header {
    width: 100%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .divMenu {
    width: 100%;
    display: flex;
    justify-content: inherit;
  }
  .img {
    width: 25px;
    height: 25px;
  }
  .img2 {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .nav {
    width: 65%;
    position: fixed;
    height: 500px;
    background-color: black;
    color: white;
    left: 45%;
    top: 0px;
    left: 100%;
    transition: 0.3s;
  }
  .navFecha {
    width: 65%;
    position: fixed;
    height: 500px;
    background-color: black;
    color: white;
    left: 45%;
    top: 0px;
    transition: 0.3s;
  }
  .x {
    width: 100%;
    height: 40px;
  }
  .xx {
    width: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  .botoes {
    padding: 5px 20px;
  }
  .excluir,
  .dados {
    height: 30px;
    display: flex;
    align-items: center;
  }
  .excluir,
  .dados {
    cursor: pointer;
    padding: 0px 10px;
    transition: 0.5s;
    margin: 5px 0px;
  }
  .excluir:hover,
  .dados:hover {
    transform: translateX(#e0e0e0);
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .novaTransaao {
    display: flex;
    justify-content: center;
    display: none;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-conteiner {
    width: 100%;
    padding: 10px;
    margin: 10px;
  }
  .select {
    height: 23px;
  }
  .form-comt-caixa,
  .form-comt-caixa-meio {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin: 5px 0px;
  }
  .button {
    width: 100%;
    padding: 0px 10px;
  }
  .botao {
    width: 100%;
    height: 25px;
    background-color: black;
    color: white;
  }
  hr {
    margin: 20px;
    width: 95%;
    height: 2px;
    background-color: #e0e0e0;
  }
  .table {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .tr-superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
    padding: 0px 15px;
    border-bottom: 2px solid #d4b6b6;
  }
  h4 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .tr-intermediaria {
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #d4b6b6;
  }
  .td-nome {
    position: absolute;
    margin-left: 15px;
  }
  .tr-inferior {
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    margin-top: 2px;
    border-top: 2px solid #d4b6b6;
  }
  .td-total {
    margin-left: 15px;
  }
  .tr-span {
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 0px 10px;
    font-size: 10px;
  }
}
