* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
@media only screen and (min-width: 280px) {
  .div-header {
    width: 100%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
  }
  h2 {
    font-size: 22px;
  }
  .divMenu {
    width: 100%;
    display: flex;
    justify-content: inherit;
  }
  .img {
    width: 25px;
    height: 25px;
  }
  .img2 {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .nav {
    width: 65%;
    position: fixed;
    height: 500px;
    background-color: black;
    color: white;
    left: 45%;
    top: 0px;
    left: 100%;
    transition: 0.3s;
  }
  .navFecha {
    width: 65%;
    position: fixed;
    height: 500px;
    background-color: black;
    color: white;
    left: 45%;
    top: 0px;
    transition: 0.3s;
  }
  .x {
    width: 100%;
    height: 40px;
  }
  .xx {
    width: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  .botoes {
    padding: 5px 20px;
  }
  .excluir,
  .dados {
    height: 30px;
    display: flex;
    align-items: center;
  }
  .excluir,
  .dados {
    cursor: pointer;
    padding: 0px 10px;
    transition: 0.5s;
    margin: 5px 0px;
  }
  .excluir:hover,
  .dados:hover {
    transform: translateX(#e0e0e0);
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .novaTransaao {
    display: flex;
    justify-content: center;
    display: none;
    font-size: 20px;
  }
  .form {
    width: 90%;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-conteiner {
    font-size: 15px;
    width: 100%;
    margin: 20px;
  }
  #select {
    height: 30px;
    padding: 5px;
    margin: 0px 0.4px;
  }
  .form-comt-caixa,
  .form-comt-caixa-meio {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin: 0px 0.4px;
    padding: 5px 0px;
  }
  .input-mercadoria,
  .input-input-valor {
    height: 30px;
    padding: 5px;
  }
  .button {
    width: 100%;
    height: 30px;
  }
  .botao {
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  hr {
    margin: 20px;
    width: 90%;
    height: 2px;
    background-color: #e0e0e0;
  }
  .table {
    width: 90%;
    display: flex;
    font-size: 13px;
    flex-direction: column;
    margin: 0px 30px 30px 30px;
  }
  .tr-superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
    padding: 0px 15px;
    border-bottom: 2px solid #d4b6b6;
  }
  h4 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .tr-intermediaria {
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #d4b6b6;
  }
  .td-nome {
    position: absolute;
    margin-left: 15px;
  }
  .tr-inferior {
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    margin-top: 2px;
    border-top: 2px solid #d4b6b6;
  }
  .td-total {
    margin-left: 15px;
  }
  .tr-span {
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 0px 10px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .div-header {
    padding: 10px 5px;
  }
  .divMenu {
    width: 31%;
    justify-content: space-between;
    margin-left: 20px;
  }
  .img2 {
    display: none;
  }
  section {
    display: flex;
    flex-direction: inherit;
    align-items: baseline;
  }
  .form {
    width: 45%;
    margin: 30px;
    border: 1px solid #d4b6b6;
    padding: 10px;
  }
  .novaTransaao {
    width: 100%;
    display: flex;
    font-size: 20px;
    margin-top: 10px;
  }
  .form-conteiner {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .form-comt-caixa,
  .form-comt-caixa-meio,
  .form-comt-caixa {
    height: 66px;
    display: flex;
    font-size: 17px;
  }
  .select {
    height: 27px;
    font-size: 13px;
  }
  .input-input-valor,
  .input-mercadoria {
    margin: 5px 0px;
    height: 25px;
  }
  .button {
    margin-bottom: 25px;
  }
  hr {
    display: none;
  }
  .table {
    width: 65%;
  }
  .nav {
    width: 247px;
    height: 30px;
    left: 54%;
    display: flex;
    background-color: #d4b6b6;
    position: absolute;
    margin: 10px;
  }
  .x {
    display: none;
  }
  .botoes {
    width: 100%;
    color: black;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .excluir {
    width: 125px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dados {
    width: 125px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    width: 100%;
    height: 100%;
    padding: 5px;
    justify-content: center;
    display: flex;
  }
  a:hover {
    color: red;
  }
}
@media only screen and (min-width: 1024px) {
  section {
    width: 100%;
    flex-direction: initial;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .divMenu {
    width: 22%;
    margin-left: 6.5%;
    justify-content: inherit;
  }
  .form {
    width: 30%;
    margin: 10px;
    border: 1px solid #d4b6b6;
    padding: 10px;
  }
  .table {
    width: 45%;
    margin: 39px 30px;
  }
}
@media only screen and (min-width: 1440px) {
  .divMenu {
    justify-content: space-around;
  }
}
