@charset "utf-8";
@media (min-width:1112px) {
    header > h3 {
        position: absolute;
        left: 90px;
        width: 36%;
        text-align: center;
    }
    .menu {
        display: none;
    }
    nav {
        position: initial;
        width: 45%;
        height: 60px;
        background-color: #E0E0E0;
        display: contents;
    }
    ul {
        width: 480px;
        display: flex;
        background-color: #E0E0E0;
        justify-content: center;
        flex-direction: initial;
    }
    .li {
        display: none;
    }
    .li_limpar {
        width: 220px;
        height: 33px;
        background-color: white;
        height: 33px;
        margin-right: 1px;
        position: relative;
        top: 10px;
    }
    .li_hist {
        width: 220px;
        height: 33px;
        background-color: white;
        margin-left: 1px;
        position: relative;
        top: 10px;
    }
    a {
        color: black;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }
    a:hover {
        color: blue;
        background-color: white;
    }
    .form {
        width: 45%;
        height: 400px;
    }
    .div_do_form {
        flex-direction: column;
    }
    .div_select {
        width: 100%;
    }
    .div_mercadoria {
        width: 100%;
    }
    .div_valor {
        width: 100%;
    }
    .div_botton {
        margin-top: 20px;
    }
    .main_1 {
        display: flex;
        padding: 20px;
    }
    
    table {
        width: 50%;
    }
    .td_mercadoria {
        width: 35%;
    }
}