@charset "utf-8";
body {
    font-family:'lato';
}
@media (min-width:768px) {
    body {
        margin: 0px;
        padding: 0px;
    }
    #form {
        width: 93%;
        margin: auto;
        height: 205px;
        margin-top: 20px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #E0E0E0;
    }
    .div_nt {
        display: flex;
        justify-content: center;
    }
    .div_do_form {
        display: flex;
        flex-direction: initial;
        justify-content: space-around;
        align-items: center;
        margin: 0px 20px;
    }
    .div_seect {
        width: 25%;
    }
    .div_mercadoria {
        width: 40%;
    }
    .div_valor {
        width: 25%;
    }
    .div_button {
        justify-content: end;
        padding-right: 20px;
    
        position: relative;
    }
    .div_button > input {
        width: 40%;
    }
}